<%= render'books/book.errors',book: @book %>
<%= render'user',user: @user %>
<%= render 'books/book',book: @book %>

<div class="col-md-8 offset-md-1">
 <h2>Users</h2>s
 <table class="table">
  <thead>
   <tr>
    <th>image</th>
    <th>name</th>
    <th colspan="3"></th>
   </tr>
  </thead>
  <tbody>
   <% @users.each do |user| %>
   <tr>
    <td>
      <% if user.profile_image.attached? %>
      <%= image_tag user.profile_image %>
      <% else %>
      <%= image_tag 'no_image' %>
      <% end %>
    </td>
    <td><%=user.name %></td>
    <td><%= link_to "Show" , user_path(user) %></td>
    <% end %>
   </tr>
  </tbody>
 </table>

</div>








