<%= render'books/book.errors',book:@book %>
<%= render'user',user:@user %>
<%= render 'books/book',book:@book %>



<h3>Users</h3>
<% @users.each do |user| %>

<div>
 <p>  <% if user.image.attached? %>
    <%= image_tag user.image, size: "100x100" %>

       <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
       <% end %> </p>

  <p>name: <%=user.name %></p>


</div>
<%= link_to "show" , user_path(@user) %>

<% end %>




