


<body>

<%= render 'books/book.errors',book:@book %>
<%= render'user',user:@user %>
<%= render 'books/book',book:@book %>

<!--ユーザー投稿一覧-->

<h3>Books</h3>
<% @books.each do |book| %>
 <% if @user.image.attached? %>
    <%= image_tag @user.image, size: "100x100" %>

  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>



<li>Title :<%= book.title %></li>

<li>Opinion :<%= book.body %></li>

<% end %>

</body>



