<h1>ユーザー詳細</h1>


<h3>User info</h3>
<div>
  <% if @user.image.attached? %>
    <%= image_tag @user.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>
  <p>name</p>
  <%= @user.name  %>
</div>




<!--ユーザー投稿一覧-->

<h3>Books</h3>
<% @books.each do |book| %>
<li>Title :<%= book.title %></li>
<li>Opinion :<%= book.body %></li>

<% end %>



