<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>



<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  <h1>Editing Book</h1>
  <%= form_with model:@book do |f| %>
  <div class="form-group">
    <label for ="inputtitle">Title</label>
    <%= f.text_field :title, autofocus: true, id:"inputtitle", class: "form-control book_title" %>
  </div>
  <div class="form-group">
    <label for ="inputbody">Opinion</label>
    <%= f.text_area :body, autofocus:true, id:"inputbody", class: "form-control book_body" %>
  </div>
  <div class="form-group">
    <%= f.submit "Update Book", class: "btn btn-success" %>
  </div>
  <% end %>

<%= link_to "Show",book_path(@book) %> | <%= link_to "Back",books_path %>

</div>