<h1>Book detail</h1>



<p><% if @users.image.attached? %>
    <%= image_tag @users.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %></p>

<p><%= @book.user.name %></p>

<p><%= @book.title %></p>
<p><%= @book.body %></p>



 <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
 <% end %>
