<%= render 'books/book.errors',book: @book %>
<%= render'users/user',user: @user %>
<%= render 'books/book',book: @book %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@user) do %>
          <% if @user.profile_image.attached? %>
          <%= image_tag @user.profile_image %>
          <% else %>
          <%= image_tag 'no_image' %>
          <% end %>
           <%= @book_find.user.name %>
           <% end %>
        </td>
        <td><%= @book_find.title %></td>
        <td><%= @book_find.body %></td>
        <td><% if @book_find.user == current_user %>
            <%= link_to "Edit", edit_book_path(@book_find), class: "btn btn-sm btn-success" %>
            <% end %>
        </td>
        <td>
            <% if @book_find.user == current_user %>
            <%= link_to "Destroy", book_path(@book_find), method: :delete ,"data-confirm" => "本当に消しますか?", class: "btn btn-sm btn-danger" %>
            <% end %>
        </td>
        <td><p class="view-counts">数：<%= @book_find.view_counts.count %></p></td>
      </tr>
    </tbody>
  </table>
</div>


















